<%- include('includes/header.ejs') %>
    <%- include('includes/nav.ejs') %>
        <%- include('includes/top.ejs') %>

        <%- include('includes/errorMessage.ejs', [{message: message}]) %>

        <% if (token) { %>
        <section class="form-signin w-100 m-auto">
            <form action="/reset-password" method="post" novalidate>
                <h1 class="h3 mb-3 fw-normal text-info text-center">Enter new password:</h1>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="token" value="<%= token %>">
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">New Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Reset</button>
            </form>
        </section>
        <% } %>

<%- include('includes/footer.ejs') %>